/** @format */


@font-face {
    font-family: "Comodo-Stamp";
    src: url("./fonts/Comodo-Stamp.otf");

}

@font-face {
    font-family: 'Comodo';
    src: url("./fonts/Comodo Vintage Free.otf");
}

@font-face {
    font-family: 'Open Sauce Bold';
    src: url("./fonts/OpenSauceSans-Bold.ttf");
}

@font-face {
    font-family: 'Open Sauce';
    src: url("./fonts/OpenSauceSans-Regular.ttf");
}



/* *{
        border: .1rem solid black;
} */

body {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
    display: contents;
}


p {
    font-family: 'Open Sauce';
    font-weight: 400;
    font-style: normal;
}

.bold{
    font-family: 'Open Sauce Bold';
    font-weight: 700;
}

.farmhand-sans {
    font-family: "Farmhand Sans";
}

.comodo {
    /* font-family: 'Comodo'; */
    font-family: "Comodo-Stamp";
}

.open-sauce {
    font-family: 'Open Sauce';
}

/* .two-hundred-pixels div {
    width: 200px;
    height: 200px;
} */


.hero-text {
    font-size: 5rem;
}

img {
    width: 16rem;
    cursor: pointer;
}

.contact-img{
    width: auto;
}

.vegan-img{
width: 23rem;;

}

/* .coming-soon-img{
    width: 14rem;
} */

seventy-five{
    width: 75vw;
}

.sm-img {
    width: 14.5rem;
}

.hover:hover {
    transform: scale(1.05);
    transition: 0.3s;
}



.stamp{

  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}

@-webkit-keyframes pulse{
  0%{
    opacity: 0;
  }
  10%{
    opacity:.50;
    /* transform-origin: 50% 50%; */
    transform: rotate(-2deg) scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100%{
    opacity:1;
    transform: rotate(-15deg) scale(1);
  }
}




footer {
    margin-top: auto;
}
