/** @format */


@font-face {
    font-family: "Comodo-Stamp";
    src: url("./fonts/Comodo-Stamp.otf");

}

@font-face {
    font-family: 'Comodo';
    src: url("./fonts/Comodo Vintage Free.otf");
}

@font-face {
    font-family: 'Open Sauce';
    src: url("./fonts/OpenSauceSans-Regular.ttf");
}



body {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

p {
    font-family: 'Open Sauce';
    font-weight: 400;
    font-style: normal;
}

.farmhand-sans{
    font-family: "Farmhand Sans";
}

.comodo {
    /* font-family: 'Comodo'; */
    font-family: "Comodo-Stamp";
}

.open-sauce {
    font-family: 'Open Sauce';
}

.two-hundred-pixels div {
    width: 200px;
    height: 200px;
}


.hero-text {
    font-size: 5rem;
}
